.threed {
  height: 190vh;
}

.proh1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  color: #ccd6f6;
  font-weight: 600;
  font-size: 32px;
}

.item1 {
  background-color: #112240;
  width: 200px;
  height: 350px;
  margin: 10px;
  border-radius: 3px;
  transition: transform 1s;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}

.floyden img {
  padding-left: 50px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  float: left;
  width: 80%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.fold {
  width: 40px;
  height: 40px;
}

.git1 {
  width: 20px;
  height: 20px;
  position: relative;
  top: 15px;
}

.folder {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.proa {
  margin: 0px 0px 10px;
  color: #ccd6f6;
  font-size: 22px;
  text-decoration: none;
}
.proa:hover {
  color: #ccd6f6;
}

.project-title {
}

.prop {
  color: #a8b2d1;
  font-size: 17px;
}

.cardfooter {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 40px;
  bottom: 10px;
}

.cardfooter li {
  padding: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 1.75;
}

@media (max-width: 767px) {
  .cardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .item1 {
    background-color: #112240;
    width: 340px;
    height: 350px;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
  }
  .threed{
    height: 330vh;
  }

}
